.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

body {
    width:100%;
}

.stripe {
    width:800px;
    height:200px;
}

.red {
    background:#ef3340;
}

.yellow {
    background: #fae140;
}

.black {
    background: #000;
}

.flag {
    margin:auto;
    width:800px;
    height:600px;
}